nav {

padding: 0;
margin: 0;
text-align: center;
}

h1 {

color: red;
font-size: 30px;
text-align: justify;

}

h2 {

color: green;
font-size: 25px;
text-align: justify;

}

caption {
	
	color: red;
	text-align: center;
	text-decoration: underline dotted red
	
}

table {
	
	border: 1px solid black;
	
}

Td {
	border: 1px solid black
	
}
	
	
Th {
	border: 1px solid black
	
}

#p1 {
			font-size: 20px; 
			color: white;
			}
			
			Td {
			border: 2px solid black;
			}
			
#banniere {
		background-image: url("banniere.png");
		height:400px;
		width:68%;
		margin:auto;
		}
		
		nav{
	padding: 0; margin: 0;
	text-align : center;	
	}
	
	/*espace entre la marge du haut et le menu/*
	text-align : center; /*centre le texte*/
	
	nav li{
	display:inline;
	list-style:none;
	text-align : justify;
	}
		
	nav ul li {
		flex: 1 1 auto;
		text-align:center;
		position: relative
	}
	nav ul{
		list-style-type: none;
	}

	nav > ul li:hover .sous {
		display: flex;
		flex-flow: column wrap;

	}

	.sous li{
		flex: 1 1 auto;
		text-align: left;
	}
		nav a{
		display: inline block;
		margin: 0 40 3 40px; /*haut bas droite gauche*/
		background: yellow;
		width: 120px;
		text-decoration:none;
		color: blue;
		height: 30px;
		line-height: 3 50 3 50px;
		padding: 0 50px;
		font-family: Arial;
		font-size: 20px;
		text-align:center;
	    }
		
		footer {
			background: green;
			width: 97%;
			justify-content: center;
			padding: 30px;
			margin-left: auto;
		}

		fieldset {
			margin-bottom: 15px;
			padding: 10px;
			width: 60%;
			margin-left: auto;
			margin-right: auto;
			border-color: green;
			font-family:fantasy;
			color:darkblue;
			background-color: #F2ED44;
		}

		legend {
			padding: 0px 3px;
			font-weight: bold;
			font-variant: small-caps;
		}

		label {
			width: 110px;
			display: inline-block;
			vertical-align: top;
			margin: 6px;
			
		}

		em {
			font-weight: bold;
			font-style: normal;
			color: #f00;
		}

		input {
			vertical-align: baseline;
			padding: 2px;
			margin: 2px;
		}

		textarea {

			height: 100px;
			width: 300px;
			border-color: purple;

		}

		#submit {

		height: 50px;
		width: 100px;
		font-family:fantasy;
		vertical-align: baseline;
		font-style:normal;
		color: darkblue;
		border-color: green;
		background-color: lightblue;
		

		}
